{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!-- Styles block -->


<!-- Content block -->
{%block content%}
<br>
<div class="container-fluid ">
    <h1 class="jumbotron text-monospace text-center peach-gradient">Royals Pitch</h1>
</div>

<div class="container text-center" style="padding-bottom: 20px;">
    <a href="{{url_for('main.new_pitch')}}" class="btn blue-gradient">Create pitch</a>
</div>

<div class="container-fluid" style="font-family: 'Cormorant Upright', serif;">
    <div class="row">
        <div class="col-md-4">
            <!-- Card -->
            <div class="card card-cascade wider">

                <!-- Card image -->
                <div class="view view-cascade gradient-card-header peach-gradient">

                    <!-- Title -->
                    <h2 class="card-header-title mb-3 text-monospace text-center">Interview Pitches</h2>


                </div>

                <!-- Card content -->
                <div class="card-body text-center">

                    <!-- Text -->
                    <p class="card-text text-monospace">An Interview pitch can be a confidence-booster for any graduate or career seeker. 
                        It is advisable that you have an interview pitch ready so as to give a good introduction of yourself at any needed point.
                    </p>
                    <!-- Link -->
                    <a href="{{url_for('main.interview_pitches')}}" class="orange-text d-flex flex-row-reverse p-2">
                        <h5 class="btn blue-gradient">Read more<i class="fas fa-angle-double-right ml-2"></i>
                        </h5>
                    </a>

                </div>
                <!-- Card content -->

            </div>
            <!-- Card -->

        </div>
        <div class="col-md-4">
            <!-- Card -->
            <div class="card card-cascade wider">

                <!-- Card image -->
                <div class="view view-cascade gradient-card-header peach-gradient">

                    <!-- Title -->
                    <h2 class="card-header-title mb-3 text-monospace text-center">Product Pitches</h2>


                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade text-center">

                    <!-- Text -->
                    <p class="card-text text-monospace">Yes!It is possible to sell your products & services in less than two minutes.
                         Create product pitches and avoid the long hours of explaining to your clients what you are marketting. </p>
                    <!-- Link -->
                    <a href="{{url_for('main.product_pitches')}}" class="orange-text d-flex flex-row-reverse p-2">
                        <h5 class="btn blue-gradient">Read more<i class="fas fa-angle-double-right ml-2"></i>
                        </h5>
                    </a>

                </div>
                <!-- Card content -->

            </div>
            <!-- Card -->

        </div>
        <div class="col-md-4">
            <!-- Card -->
            <div class="card card-cascade wider">

                <!-- Card image -->
                <div class="view view-cascade gradient-card-header peach-gradient">

                    <!-- Title -->
                    <h2 class="card-header-title mb-3 text-monospace text-center">More coming soon</h2>


                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade text-center">

                    <!-- Text -->
                    <p class="card-text text-monospace">
                        A Royal Quote For You: If you want to live a happy life, tie it to a goal, not to people or things.
                    </p>
                    <!-- Link -->
                    <a href="/" class="orange-text d-flex flex-row-reverse p-2">
                        <h5 class="btn blue-gradient btn-disabled">More pitches coming Soon</i>
                        </h5>
                    </a>

                </div>
                <!-- Card content -->

            </div>
            <!-- Card -->

        </div>
    </div>
</div>
{%endblock%}